# Dependencies
node_modules/

# Build output
dist/

# Env files
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# TypeScript cache
*.tsbuildinfo

service-account.json
service-account.json.json
src/modules/calender/service-account.json
src/modules/calender/service-account.json.json
